<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    {% load humanize %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>MAC Driver Search</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'seasons/css/style_index.css' %}" />
        <script src="{% static 'seasons/js/index_script.js' %}"></script>
    </head>
    <body>
        <div class="header">
          <h1>Driver Search</h1>
          <label>Season:
            <select id="seasons">
                <option value="all">All</option>
                {% if seasons_list %}
                    {% for season in seasons_list %}
                        <option>{{ season }}</option>
                    {% endfor %}
                {% else %}
                    <option>No Seasons are available.</option>
                {% endif %}
            </select>
          </label>
        </div>

        <div class="searchbar">
          <input id="driverSearch" type="search" placeholder="Type a Driver Name…">
        </div>

        <div class="driverPane">
            <h2>Drivers(<span id="driverCount">0</span>)</h2>
            <div id="driverResults">
                {% if seasons_list %}
                    {% for driver in drivers_list %}
                        <div class="result" style="cursor: pointer;" onclick='location.href="driver/{{driver.id}}";'>
                            <strong>{{ driver }}</strong>
                            {% for competitor in driver.get_all_related_competitors %}
                                <a href="{% url 'seasons:competitor' competitor.id %}"
                                       data-season="{{ competitor.season.year }}"
                                        data-placement="{{ competitor.season_placement }}">
                                    {{ competitor.season.year }}&thinsp;({{competitor.season_placement|ordinal}})</a>
                            {% endfor %}
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No Seasons are available.</p>
                {% endif %}
            </div>
        </div>
    </body>
</html>
